<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="{=__description}" />
	<meta name="language" content="fr" />
	<meta property="og:title" content="{=__title}" />
	<meta property="og:site_name" content="PL$tek" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:image" content="{=__staticprefix}res/img/logo.png" />
	<meta property="og:image:alt" content="Logo de PLSres" />
	<meta property="og:image:width" content="64" />
	<meta property="og:image:height" content="64" />
	<meta property="og:description" content="{=__description}" />
	<meta name="theme-color" content="{=__theme_color}" />

	<title>PLSres - {=__title}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{=__staticprefix}res/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="{=__staticprefix}res/css/genstyles.css" />
	<link rel="stylesheet" type="text/css" href="{=__staticprefix}res/css/code.css" />
	<link rel="shortcut icon" type="image/png" href="{=__staticprefix}res/img/logo.png" />

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg-full.js"></script>
	<script type="text/javascript">
		var currentPageInfo = null/*{=__page_info}*/;

		$(document).ready(function () {
			/*{=__pagenav_builder}*/
			if (currentPageInfo !== null) {
				updatePage(currentPageInfo, document.location);
				window.history.replaceState(currentPageInfo, currentPageInfo["title"], document.location);
			}
		});

		function resetDocument() {
			$(".internal-link, .index-link").off("click").on("click", function (event) {
				loadNewPage(event.currentTarget.href, true);
				return false;
			});
		}

		function loadNewPage(url) {
			const pathname = new URL(url).pathname;
			$.get({
				url: "/plsres/_content" + pathname,
				dataType: "json",
				success: function(jsonData) {
					updatePage(jsonData, url);
					window.scrollTo(0, 0);
					window.history.pushState(jsonData, jsonData["title"], url);
				}
			});
		}

		function updatePage(jsonData, url) {
			const pathname = new URL(url).pathname;
			$("title").text(jsonData.title);
			$("meta[property=\"og:title\"]").attr("content", jsonData.title);
			$("meta[name=description]").attr("content", jsonData.description)
			$("meta[property=\"og:description\"]").attr("content", jsonData.description);
			$("meta[name=theme-color]").attr("content", jsonData.themeColor);
			$("main#content").html(jsonData.content);
			$("nav#pagenav").html(buildPageNavigation(jsonData.pageNavigation));
			currentPageInfo = jsonData;
			resetDocument();
		}

		window.addEventListener("popstate", function (event) {
			if (event.state)
				updatePage(event.state, document.location);
		});

		window.addEventListener("hashchange", function (event) {
			window.history.replaceState(currentPageInfo, currentPageInfo["title"], document.location);
		});

		function buildPageNavigation(pagetree) {
			const navlist = $("<ul></ul>")
				.addClass("list-unstyled")
				.addClass("nav-ul")
				.addClass("innav-ul")
				.addClass("innav-ul-" + pagetree[0]["level"]);
			for (treeitem of pagetree) {
				const listitem = $("<li></li>")
					.addClass("nav-li")
					.addClass("innav-li")
					.addClass("innav-li-" + treeitem["level"]);
				const linkitem = $("<a></a>")
					.addClass("anchor-link")
					.attr("href", treeitem["anchor"])
					.html(treeitem["title"]);
				listitem.append(linkitem);
				if (treeitem["subtree"] !== null)
					listitem.append(buildPageNavigation(treeitem["subtree"]));
				navlist.append(listitem);
			}
			return navlist;
		}

		////////// Page elements
		function revealAnswers(classname) {
			$("." + classname).toggle();
		}
	</script>
</head>
<body>
	<div id="page-wrapper">
		<div id="navbar-wrapper">
			<input id="navtoggle" type="checkbox" />
			<span class="togglebar"></span><span class="togglebar"></span><span class="togglebar"></span>
			<div id="navbar" class="flex-shrink-0 p-3">
				<a class="site-title d-flex align-items-center pb-3 mb-3 border-bottom internal-link" href="/">
					<img class="bi me-2" src="{=__staticprefix}res/img/logo.svg" alt="Logo de PLSres" width="48px" height="48px" />
					<span class="fs-2 fw-semibold">PL$res</span>
				</a>
				<nav id="pagenav">
					{=__pagenav}
				</nav>
				<hr />
				{=__sitenav}
			</div>
		</div>
		<main id="content" class="flex-shrink-1">
			{=__content}
		</main>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
