/******** Font faces */

@font-face {
	font-family: 'Tw Cen MT';
	font-style: normal;
	font-weight: normal;
	src: local('Tw Cen MT'), url('/static/plsres/res/font/Tw Cen MT.woff') format('woff');
}

* {
	font-family: sans-serif;
	font-size: 18px; 
}


/******** Layout */

#page-wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#navbar-wrapper {
	width: 20%;
	/*height: 100%;*/
}

#navbar-wrapper input {
	display: none;
}

#content {
	width: 60%;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	overflow-y: auto;
	-ms-overflow-style: none;  /* Hide the scrollbar for  IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#navbar::-webkit-scrollbar {
	display: none;
}

/******** Navbar styles */

.exnav-li .btn-toggle {
	text-align: left;
	font-weight: 600;
	background-color: transparent;
	border: 0;
}

.nav-li .btn-toggle, .nav-li a {
	width: 100%;
	display: inline-flex;
	align-items: center;
	padding: 0.2rem 0.5rem;
}

.exnav-li .btn-toggle::before, .exnav-li a::before {
	width: 1.25rem;
	line-height: 0;
}

.exnav-li .btn-toggle::before {
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
}

.exnav-li .btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.exnav-li a::before {
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' fill='none' stroke='rgba%280,0,0,.5%29' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3e%3c/svg%3e");
}

.nav-ul {
	border-left: solid #DDD 1px;
	margin-left: 1rem;
}

.nav-li a, .site-title {
	text-decoration: none;
}


/******** Title styles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Tw Cen MT', sans-serif;
}

h1 {
	font-size: 3.2rem;
	color: #346c20;
	width: 100%;
	border-bottom: solid 2px #346c20;
}

h2 {
	font-size: 2.5rem;
	color: #346c20;
}

h3 {
	font-size: 2rem;
	color: #4D4D4D;
}

h4 {
	font-size: 1.75rem;
	color: #121212;
}


/******** Text styles */

strong {
	font-weight: 600;
}

/******** Image styles */

img, svg {
	max-width: 100%;
}

/******** Link styles */

a.external-link {
	color: #55A0FF;
}

a.internal-link, a.anchor-link, a.index-link {
	color: #67A112;
}

a.index-link {
	text-decoration: none;
	font-size: 1.5rem;
}

a.dead-link {
	text-decoration: none;
	color: #920d00;
}

.page-links {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	width: 100%;
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: solid 2px #346c20;
	border-bottom: solid 2px #346c20;
}

.page-links a {
	text-decoration: none;
}


/******** Table styles */

table.info-table {
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	margin-bottom: 0.25rem;
}

table.info-table th {
	font-weight: bold;
	background-color: #396d1a;
	color: #FFFFFF;
}

table.info-table tr:nth-child(2n) {
	background-color: #dff5d0;
}

table.info-table tr:nth-child(2n+1) {
	background-color: #ebffdb;
}

table.info-table td, table.info-table th {
	vertical-align: top;
	padding: 0.3rem;
}

table.info-table td + td, table.info-table th + th {
	border-left: dashed #9fd57c 1px;
}


/******** Fence styles */
table.fence {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1rem;
}

tr.fence-row {
	border-top: dashed #a0a0a0 1px;
	border-bottom: dashed #a0a0a0 1px;
}

td.fence-cell {
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 6px;
}

table.fence ul {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

td pre, td p {
	margin: 0;
}

/******** Code block styles */

button.code-result-toggle {
	margin-top: 0.75rem;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	text-align: left;
	background-color: #E8E8E8;
	border-radius: 0;
}

pre.code-result-joinfile {
	border-left: solid #444444 4px;
	padding-left: 1rem;
}

pre.code-result-stdin {
	border-left: solid #5590FF 4px;
	padding-left: 1rem;
}

pre.code-result-stdout {
	border-left: solid #33AA55 4px;
	padding-left: 1rem;
}

pre.code-result-stderr {
	border-left: solid #DD3000 4px;
	padding-left: 1rem;
}

/******** Text styles */

span.course-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 4em;
}

a.index-link span.course-icon {
	font-size: 0.75em;
	width: 4em;
}

span.smaller {
	font-size: 0.85em;
}

span.course-list {
	display: inline-block;
	margin-left: 0.5em;
}

/******** Exercises */

.exercise-button {
	display: block;
	width: 100%;
	text-align: left;
	border: solid 2px black;
	border-radius: 0;
}

.exercise-toggle {
	font-weight: 1.3rem;
	font-size: 1.3rem;
}

.exercise-container {
	width: 100%;
	border: solid 2px black;
}

.exercise-question-container {
	background-color: #000000;
	margin-bottom: 0;
}

.exercise-question-text-container {
	margin-left: 1rem;
	margin-bottom: 0;
	background-color: #FFFFFF;
}

.exercise-question-title {
	color: #FFFFFF;
	margin-bottom: 0;
	padding: 0.5rem;
	font-weight: 600;
	font-size: 1.3rem;
}

.exercise-question-text, .exercise-question-choice-container, .exercise-question-hint .exercise-wrapped-text {
	border: solid 2px black;
	margin: 0;
	padding: 0.5rem;
}

.exercise-question-choice-container {
	border-left: solid 4rem #000000;
}

.exercise-question-choice-answer {
	background-color: #FFDD99;
	padding: 0.3rem;
}

.exercise-question-answer {
	padding: 0.3rem;
}

.exercise-question-hint-0 {
	background-color: #92D050;
}

.exercise-question-hint-1 {
	background-color: #FFFF00;
}

.exercise-question-hint-2 {
	background-color: #FFC000;
}

.exercise-question-hint-3 {
	background-color: #FF8000;
}

.exercise-question-hint-4 {
	background-color: #FF2000;
}

.answer-reveal-button {
	background-color: #C00000;
	color: #FFFFFF;
}

.answer-reveal-button:hover {
	color: #FFFFFF;
}

/******** Banner */

.info-banner p {
	display: inline-block;
}

.info-banner button {
	display: inline-block;
}

.info-banner-red {
	background-color: #FF5522;
}

/**************** Mobile things */

@media screen and (max-width:800px) {
	#page-wrapper {
		display: block;
	}

	#content {
		margin-left: 0;
		margin-top: 38px;
		padding-left: 2%;
		width: 96%;
	}

	#navbar-wrapper {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		padding-top: 12px;
		padding-left: 12px;
		padding-bottom: 12px;
		width: 100%;
		z-index: 1;
		background-color: #67A112;
	}

	#navbar-wrapper input {
		display: block;
		width: 100%;
		height: 32px;
		position: absolute;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
	}

	#navbar-wrapper .togglebar{
		display: block;
		width: 29px;
		height: 2px;
		margin-bottom: 5px;
		position: relative;
		background-color: #FFFFFF;
		border-radius: 3px;
		z-index: 1;
	}

	/* Usage of an invisible border instead of a margin is a trick to profit from the box-sizing for an easy and portable content height */
	#navbar {
		display: none;
		border-top: solid 38px rgba(0, 0, 0, 0);
		padding-left: 12px;
		top: 0;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		background-color: #FFFFFF;
	}

	#navbar-wrapper input:checked ~ #navbar {
		display: block;
	}

	#navbar-wrapper input:checked ~ .togglebar {
		background-color: #000000;
	}
}
